
<!-- my mock page -->
<mat-card id="input-form">
    <mat-card-content>

        <h2 id="search-form-title">Search for specifics</h2>

        <!--LOOK FOR TITLE-->
          <form class="search-field">
            <mat-form-field class="example-full-width">
                <mat-label>Looking for title</mat-label>
                <input matInput placeholder="What are you looking for?" value="" name="title" [(ngModel)]="productFilter.title">
            </mat-form-field>
        </form>

        <!--LOOK FOR LOCATION-->
        <form class="search-field">
          <mat-form-field class="example-full-width">
              <mat-label>Looking for location</mat-label>
              <input matInput placeholder="What are you looking for?" value="" name="location" [(ngModel)]="productFilter.location">
          </mat-form-field>
        </form>

        <!--LOOK FOR TYPE-->
        <form>
          <mat-radio-group [(ngModel)]="productFilter.type" name="type">
            <mat-radio-button value="Product" checked>Product</mat-radio-button>
            <mat-radio-button value="Service">Service</mat-radio-button>
            <mat-radio-button value="">Don't care</mat-radio-button>
          </mat-radio-group>
        </form>

        <!--LOOK FOR BUY OR RENT-->
        <form>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="productFilter.sell_lend" name="sell_lend">
              <mat-radio-button value="sell">Buy</mat-radio-button>
              <mat-radio-button value="lend">Rent</mat-radio-button>
              <mat-radio-button value="">Don't care</mat-radio-button>
          </mat-radio-group>
        </form>

        <!--LOOK FOR BUY OR DELIVERABLE-->
        <form>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="productFilter.deliverable" name="deliverable">
              <mat-radio-button value="false">Pickup</mat-radio-button>
              <mat-radio-button value="true">Deliverable</mat-radio-button>
              <mat-radio-button value="">Don't care</mat-radio-button>
          </mat-radio-group>
        </form>

        <!--LOOK FOR BUY OR PRICE RANGE-->
        <mat-form-field>
          <mat-label>Min Price</mat-label>
          <input matInput type="number" min="1" oninput="validity.valid||(value='');" [(ngModel)]="productFilter.minPrice" name="price">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Max Price</mat-label>
        <input matInput type="number" min="1" oninput="validity.valid||(value='');" [(ngModel)]="productFilter.maxPrice" name="price">
      </mat-form-field>


        <!--SEARCH BUTTON-->
        <button (click)="searchForProducts()">Search</button>

    </mat-card-content>
</mat-card>

<div *ngIf="(paginatedProducts.length ==0 )">
    No Products available
</div>

<mat-table id="catalogue" #table [dataSource]="paginatedProducts" matSort>

    <!--TITLE-->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
    </ng-container>

    <!--DESCRIPTION -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <!--LOCATION -->
    <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Location </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.location}} </mat-cell>
      </ng-container>

      <!--LEND -->
    <ng-container matColumnDef="lend">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Rent </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sell_lend}} </mat-cell>
      </ng-container>

      <!--PRICE -->
    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} Pts. {{element.sell_lend=='lend'? '/h':''}}</mat-cell>
      </ng-container>

      <!--DELIVERABLE -->
    <ng-container matColumnDef="deliverable">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Deliverable </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.deliverable}} </mat-cell>
      </ng-container>

    <!--BUY-->
    <ng-container matColumnDef="buy">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Buy </mat-header-cell>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Buy" class="iconbutton"
          (click)="buyProduct(element)" color="blue">Buy
          <mat-icon>buy</mat-icon>
        </button> </mat-cell>
    </ng-container>

    <!--COLUMN NAMES-->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--PAGINATOR-->
  <mat-paginator id="paginator" [length]="totalRecords" [pageSize]="defaultRecords" [pageSizeOptions]="recordSizes" (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>