
<h3>Catalogue Works</h3>

<div *ngFor="let product of products">
    <mat-card>

        <!--Who offers what-->
        <h3>
            {{product.ownerName}} offers {{product.title}}
        </h3>

        <!--Product information-->
        <p>{{product.description}}</p>
        <p>Price: {{product.price}} Points</p>

        <!--Button to add the product to the Shopping chart.-->
        <button (click)="addProductToChart(product)">
            Add to my Chart
        </button>

        <!--Button to remove product from catalog-->
        <button (click)="removeProduct(product)">
            Remove from Catalogue
        </button>

    </mat-card>
</div>
