
<!-- my mock page -->
<mat-card id="input-form">
    <mat-card-content>
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="Buy">Buy</mat-radio-button>
            <mat-radio-button value="Rent">Rent</mat-radio-button>
        </mat-radio-group>

        <form class="search-field">
            <mat-form-field class="example-full-width">
                <mat-label>Search</mat-label>
                <input matInput placeholder="What are you looking for?" value="">
            </mat-form-field>
        </form>

        <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    </mat-card-content>
</mat-card>

<div *ngIf="(products.length ==0 )">
    No Products available
</div>

<!--LIST PRODUCTS-->
<table id="offers-table">
    <tr id="offers-head">
        <td class="table-entry">Title</td>
        <td class="table-entry">Description</td>
        <td class="table-entry">Location</td>
        <td class="table-entry">Price</td>
        <td class="table-entry">Deliverable</td>
        <td class="table-entry">Status</td>
        <td class="table-entry">Buy</td>
    </tr>
    <tr id="offers-body" *ngFor="let product of filteredProducts">
        
        <td class="table-entry"> {{ product.title }}</td>
        <td class="table-entry"> {{ product.description}} </td>
        <td class="table-entry"> {{ product.location }}</td>
        <td class="table-entry"> {{ product.price }} Pts. </td>
        <td class="table-entry"> {{ product.deliverable }} </td>
        <td class="table-entry"> {{ product.status }} </td>
        <td class="table-entry"> <button (click)="buyProduct(product)">Buy</button> </td>
        
    </tr>
</table>

<!--PAGINATOR-->
<mat-paginator id="paginator" [length]="totalRecords" [pageSize]="defaultRecords" [pageSizeOptions]="recordSizes" (page)="pageEvent = $event; onPaginateChange($event)">
</mat-paginator>