* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topspan {
    text-align: center;
    color: var(--clr-zeta);
    background-color: var(--clr-alpha);
}

.span-title {
    float: left;
}

.span-info {
    width: 100%;
    text-align: right;
}

.topnav {
    overflow: hidden;
    background-color: var(--clr-alpha);
}

.nav-right {
    width: 100%;
    text-align: right;
}

.link {
    color: var(--clr-zeta);
    width: 10%;
    transition: 0.3s all ease;
    font-size: 1.2rem;
}

.link:hover {
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
}

.link:active {
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
}