<div class="main">

<mat-toolbar class="topspan">
  <mat-toolbar-row>
    <span class="span-logo"><img src="assets/logo.png" style="width: 200px"></span>
    <span class="span-info">{{loggedInText()}}</span>
  </mat-toolbar-row>
</mat-toolbar>


<nav class = "topnav" mat-tab-nav-bar>

  <a class="link" id="home" mat-tab-link
     routerLink=""
     routerLinkActive
     #rla1="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rla1.isActive">Home</a>

  <a class="link" id="shop" mat-tab-link
     routerLink="Shop"
     routerLinkActive
     #rla2="routerLinkActive"
     [routerLinkActiveOptions]="{exact:true}"
     [active]="rla2.isActive">Shop</a>

  <a class="link" id="sell" mat-tab-link
     routerLink="Sell"
     routerLinkActive
     [routerLinkActiveOptions]="{exact:true}"
     #rla3="routerLinkActive"
     [active]="rla3.isActive">Sell</a>

  <a *ngIf="isAdmin==true"
     class="link" id="authorize" mat-tab-link
     routerLink="Authorize"
     routerLinkActive
     [routerLinkActiveOptions]="{exact:true}"
     #rla3="routerLinkActive"
     [active]="rla3.isActive">Spam check</a>

   <div class="nav-right">
  <a class="link" id="login" mat-tab-link
     routerLink="Login"
     routerLinkActive
     [routerLinkActiveOptions]="{exact:true}"
     #rla4="routerLinkActive"
     [active]="rla4.isActive">Login</a>

  <a class="link" id="registration" mat-tab-link
     routerLink="Registration"
     routerLinkActive
     [routerLinkActiveOptions]="{exact:true}"
     #rla5="routerLinkActive"
     [active]="rla5.isActive">Register</a>

   </div>

   <select style="margin-right: 50px;" *ngIf="themes" [(ngModel)]="selectedTheme" (change)="toggleTheme()">
      <option *ngFor="let theme of themesKeys" [value]="theme">
         {{ theme }}
      </option>
   </select>

</nav>

</div>



<router-outlet></router-outlet>
