* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topspan {
    text-align: center;
    color: white;
    background-color: black;
}

.span-title {
    float: left;
}

.span-info {
    width: 20%;
    margin-left: 80%;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.link {
    margin: 5px 5px 5px 5px;
    color: whitesmoke;
    background-color: red;
    border: 3px solid whitesmoke ;
}

.link:hover {
    color: white;
    border: 5px solid white ;
}