* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topspan {
    text-align: center;
    color: white;
    background-color: var(--clr-primary);
}

.span-title {
    float: left;
}

.span-info {
    width: 20%;
    margin-left: 80%;
}

.topnav {
    overflow: hidden;
    background-color: var(--clr-primary);
}

.link {
    margin: 5px 5px 5px 5px;
    color: var(--clr-tertiary);
    background-color: var(--clr-secondary);
    border: 3px solid var(--clr-tertiary);
    height: 30px;
    letter-spacing: 2px;
}

.nav-right {
    width: 100%;
    text-align: right;
}

.link:hover {
    color: var(--clr-tertiary);;
    border: 5px solid var(--clr-tertiary); ;
    font-size: medium;
    letter-spacing: 1px;
}