<body>

  <div *ngIf="!loggedIn">
  <form>
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="User Name" [(ngModel)]="userName" name="userName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="password" name="password" type="password">
        </mat-form-field>
        <input color="primary" type="submit" (click)="login()" value="Login">
    </mat-card>
  </form>
  </div>

  <div *ngIf="loggedIn">
      <mat-card>
    <button mat-flat-button color="warn" (click)="logout()">Logout</button>
    You are currently logged in as {{ userName }}
  </mat-card>
  </div>

  <!--
    <mat-card>
  <button mat-flat-button color="primary" (click)="accessSecuredEndpoint()">Access Secure Endpoint (only for logged in users)</button>
  {{ secureEndpointResponse }}>
  </mat-card>
  -->

  <p>
    You haven't registered yet?
    <button  routerLink="/Registration" mat-button color="primary" type="submit">
      Register
    </button>
  </p>
  </body>


