
<h2>CATALOGUE</h2>
<div *ngFor="let product of products">
    <mat-card>

        <!--You offer the product-->
        <h3 *ngIf="product.ownerToken==userToken">
            You offer {{product.name}}
        </h3>

        <!--Someone else is offering the product-->
        <h3 *ngIf="product.ownerToken!=userToken">
            {{product.ownerName}} offers {{product.name}} {{product.inChart ? '(Already Bought)' : ''}}
        </h3>

        <!--Product information-->
        <p>{{product.description}}</p>
        <p>Price: {{product.price}} Points</p>

        <!--Button to add the product to the Shopping chart. (Not accessible by the owner of the product!)-->
        <button *ngIf="loggedIn && !product.inChart" (click)="addProductToChart(product)">
            As User: Add to my Chart
        </button>

        <!--Button to remove product from catalog. Only accessible by the owner of the product!-->
        <button *ngIf="loggedIn && userToken==product.ownerToken && !product.inChart" (click)="removeProduct(product)">
            As Owner: Remove from Catalogue
        </button>

    </mat-card>
</div>
