@import '~@angular/material/theming';

@include mat-core();

//custom color
$custom-app-primary: mat-palette($mat-red, 800);
$custom-app-accent:  mat-palette($mat-red, 900);
$custom-app-warn:    mat-palette($mat-deep-orange);

$custom-app-theme: mat-light-theme($custom-app-primary, $custom-app-accent, $custom-app-warn);
@include angular-material-theme($custom-app-theme);