/* You can add global styles to this file, and also import other style files */
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

:root {
  --clr-primary: #1d296e;
  --clr-secondary: #f1ffda;
  --clr-tertiary: #6385bf;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--clr-secondary);
}

.mat-card {
  margin: 20px 0;
  background-color: #EEE;
}

.button, .input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

.submit-btn {
  border: none;
  cursor: pointer;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  font-size: large;
  padding: 5px;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  transition: 0.3s color ease;
  transition: 0.3s background-color ease;
}

.submit-btn:hover {
  color: var(--clr-secondary);
  background-color: var(--clr-primary);
}
