/* You can add global styles to this file, and also import other style files */
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/

:root {
  --clr-alpha: #1d296e;
  --clr-beta: #f1ffda;
  --clr-gamma: #6385bf;
  --clr-delta: #6385bf;
  --clr-epsilon: #6385bf;
  --clr-zeta: #6385bf;
}

* {
  transition: 0.3s all ease;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--clr-zeta);
  background-color: var(--clr-alpha);
}

/*MAT FORM STUFF*/
.mat-card {
  margin: 20px 0;
  color: var(--clr-zeta);
  background-color: var(--clr-epsilon);
  background-color: none;
}

.button, .input {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mat-form-field-empty.mat-form-field-label, .mat-form-field .mat-form-field-label {
  color: var(--clr-zeta);
}

.mat-form-field-wrapper {
  margin-right: 25px !important;
}

.table-cell, .table-row {
  color: var(--clr-zeta);
  background-color: var(--clr-epsilon);
  padding: 5px;
}

#paginator {
  color: var(--clr-zeta) !important;
  background-color: var(--clr-epsilon) !important;
}

/*BUTTON CLASSES*/
.submit-btn, .reject-btn {
  border: none;
  cursor: pointer;
  color: var(--clr-zeta);
  background-color: var(--clr-gamma);
  font-size: large;
  padding: 5px;
  margin: 20px;
  border-radius: 5px;
  letter-spacing: 0.1rem;
}

.reject-btn {
  background-color: red;
}

.submit-btn:hover {
  color: var(--clr-gamma);
  background-color: var(--clr-zeta);
}

.reject-btn:hover {
  background-color: #FF96A6;
}

.submit-btn:disabled, .reject-btn:disabled {
  color: var(--clr-epsilon);
}

/*OTHER INPUTS*/
select {
  border: 1px solid var(--clr-gamma);
  border-radius: 2px;
  color: var(--clr-zeta);
  background-color: var(--clr-beta);
  cursor: pointer;
}