#sell-products-form {
    width: 40%;
    text-align: center;
    top: 30px;
    bottom: 30px;
    left: 30%;
}

h3 {
    font-size: 1.5rem;
    text-decoration: underline;
}

mat-form-field, mat-radio-group, select {
    width: 50%;
    align-self: center;
    margin: 10px 0 10px 25%;
    display: block;
}

mat-radio-button {
    margin: 10px;
}