<mat-card id="main">

    <h3 id="form-title">{{product.rent? 'Rent' : 'Sell'}} a {{product.type}}</h3>

    <!--TYPE-->
    Type: 
    <select id="type-select" color="primary" [(ngModel)]="product.type" name="type">
        <option value="Product">Product</option>
        <option value="Service">Service</option>
    </select>

    <!--RENT-->
    <div id="rent">
    <mat-radio-group id="rent-radio" [(ngModel)]="product.rent">
        <mat-radio-button [value]=false checked>Sell</mat-radio-button>
        <mat-radio-button [value]=true>Rent</mat-radio-button>
    </mat-radio-group>
    </div>
      

    <!--TITLE-->
    <mat-form-field id="title">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="product.title" maxLength=50 name="title" title="Provide a title for your {{product.type}}">
    </mat-form-field>

    <!--DESCRIPTION-->
    <mat-form-field id="description">
        <mat-label>Description</mat-label>
        <textarea matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            maxlength=100
            [(ngModel)]="product.description"
            name="description"
            title="Describe the {{product.type}} you want to {{product.rent? 'rent' : 'sell'}}">
        </textarea>
    </mat-form-field>

    <!--COSTS-->
    <mat-form-field id="price">
        <mat-label>Price {{product.rent? '(per hour)' : ''}}</mat-label>
        <input matInput type="number" min="1" oninput="validity.valid||(value='');" [(ngModel)]="product.price" name="price">
    </mat-form-field>

    <!--LOCATION-->
    <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="product.location" maxlength=50 name="location" title="">
    </mat-form-field>

    <!--DELIVERABLE OR PICKUP-->
    <div id="deliverable">
        <mat-radio-group id="deliverable-radio" [(ngModel)]="product.deliverable">
            <mat-radio-button [value]=false checked>Pickup</mat-radio-button>
            <mat-radio-button [value]=true>Deliverable</mat-radio-button>
        </mat-radio-group>
    </div>

    <!--SUBMISSION-->
    <button id="submit" mat-flat-button (click)="submitProduct()">
        Submit {{product.type}}
    </button>

</mat-card>

<app-my-offers></app-my-offers>