
<!--TEMPORARY-->
<button *ngIf="loggedIn" (click)="addProductToList('Chocolate', 'Sweet Candy that is bad for your teeth!', 100)">
    Add Product
</button>

<!--SHOPPING CHART-->
<mat-card>

    <!--Chart Title-->
    <h2>
        Shopping Chart {{loggedIn ? 'of ' + userName : ''}}
    </h2>

    <!--Message when not logged in-->
    <p *ngIf="!loggedIn">
        Log in to buy products
    </p>

    <!--Message when logged in but chart is empty-->
    <p *ngIf="chart.length==0 && loggedIn">
        No products in your chart
    </p>

    <!--Lists all products in the shopping chart-->
    <div *ngIf="loggedIn && chart.length!=0">
        <div *ngFor="let product of chart">
            <h3>
                {{product.name}}
                ({{product.price}} Points)

                <!--Button to remove product from shopping cart-->
                <button (click)="removeProductFromChart(product)">
                    Remove
                </button>
            </h3>
        </div>

        <!--Buy the products in the chart-->
        <button>
            Buy
        </button>

    </div>

</mat-card>

<!--PRODUCT CATALOG-->
<div *ngFor="let product of products.products">
    <mat-card>

        <!--Product information-->
        <h3 *ngIf="product.ownerToken==userToken">You offer {{product.name}}</h3>
        <h3 *ngIf="product.ownerToken!=userToken">{{product.ownerName}} offers {{product.name}} {{product.bought ? '(Already Bought)' : ''}}</h3>
        <p>{{product.description}}</p>
        <p>Price: {{product.price}} Points</p>

        <!--Button to add the product to the Shopping chart. Not accessible by the owner of the product!-->
        <button *ngIf="loggedIn && userToken!=product.ownerToken && !product.bought" (click)="addProductToChart(product)">
            Add to Chart
        </button>

        <!--Button to remove product from catalog. Only be accessible by the owner of the product!-->
        <button *ngIf="loggedIn && userToken==product.ownerToken && !product.bought" (click)="removeProductFromList(product)">
            Remove
        </button>

    </mat-card>
</div>
