<div id="landing">
    <div id="main">

        <h1>
            Welcome to<br>
            T3AM 3 Shop 'n' Sell
        </h1>

        <form class="search-field">
            <mat-form-field class="example-full-width">
                <mat-label>Looking for title/location/description</mat-label>
                <input matInput placeholder="What are you looking for?" name="title" [formControl]="searchForm">
            </mat-form-field>
            <input type="submit" (click)="onSubmit(searchForm.value)" value="Search">
        </form>

        <button  routerLink="/Shop" mat-button>
            Shop
        </button>

        <button  routerLink="/Sell" mat-button>
            Sell
        </button>

    </div>
</div>