* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#landing {
    min-height: 80vh;
    background-image: url("../../assets/under_construction.jpg"), linear-gradient(135deg, rgba(200,0,0,0.5), rgba(0,0,0,0.5));;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#big-title {
    color: white;
    text-align: center;
    transform: translate(0, 10rem);
    font-size: 5rem;
}